
<div class="content-top clearfix">
  <h1 class="al-title">DETALLE</h1>

  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/pages/projects/list">Mis Proyectos</a></li>
    <li class="breadcrumb-item active">Detalle</li>
  </ul>
</div>

<div *ngIf="project">
  <div><label>id: </label>{{project._id}}</div>
  <div>
    <label>Nombre: {{ project.name }}</label><br>
    <label>Descripción: {{ project.description }}</label>
    
  </div>
</div>